* {
	font-family: GraphBars, FontAwesome, Fira Code, sans-serif;
	font-size: 13px;

	/* workaround for cjk characters */
	/* https://github.com/Alexays/Waybar/issues/2026 */
	min-height: 0px;
	margin-top: -50px;
	margin-bottom: -50px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.87);
	color: #ffffff;
}

tooltip {
	background: rgba(0, 0, 0, 0.7);
}

button {
	padding: 5px;
	color: #ffffff;
}



/* modules */
.module,
#privacy {
	margin-right: 5px;
}

#network {
	margin-right: 15px;
}

#pulseaudio {
	margin-left: 10px;
}

#mpris {
	margin-left: 15px;
}

#window {
	margin-left: 30px;
}

#clock {
	margin-right: 10px;
	margin-left: 10px;
}

#privacy {
	color: #ffa845;
}

#custom-micmute,
#custom-vsync,
#custom-dnd,
#custom-monitors {
	min-width: 20px;
	margin: 0;
	margin-left: 5px;
}

#custom-micmute.enabled,
#custom-dnd.enabled,
#custom-vsync.disabled {
	color: #ff5145;
}

#custom-monitors.enabled {
	color: #80ff45;
}

#custom-cava {
	color: #33ffff;
	font-size: 24px;
	opacity: 0.9;
}
