@theme "rounded"

configuration {
	drun-match-fields: "name";
	drun-display-format: "{name}";

	me-select-entry: "MousePrimary";
	me-accept-entry: "!MousePrimary";

	kb-toggle-case-sensitivity: "";
}
