[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openFootHere
X-KDE-Priority=TopLevel

[Desktop Action openFootHere]
Name=Open Foot Here
Icon=utilities-terminal
Exec=foot --working-directory %f
