[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openKittyHere
X-KDE-Priority=TopLevel

[Desktop Action openKittyHere]
Name=Open Kitty Here
Icon=utilities-terminal
Exec=kitty --working-directory %f
