[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openMyTermHere
X-KDE-Priority=TopLevel

[Desktop Action openMyTermHere]
Name=Open Alacritty Here
Icon=utilities-terminal
Exec=alacritty --working-directory %f
