[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openMyTermHere
X-KDE-Priority=TopLevel

[Desktop Action openMyTermHere]
Name=Open ZSH Here
Icon=utilities-terminal
Exec=foot --working-directory %f
