[Desktop Entry]                                                                              
Version=1.0
Name=Firefox Private
Exec=/usr/lib/firefox/firefox -private-window
Terminal=false
Icon=firefox
Type=Application
Categories=Network;WebBrowser;
